<main class="py-3rem flex justify-center fondo h-screen">
  <article class="w-90 flex justify-center flex-col items-center">
    <div class="search-bar-container flex justify-end mb-8 mt-0">
      <input type="text" placeholder="Buscar" class="p-2 border rounded" />
    </div>
    <table
      class="bg-white w-[90%] h-[70%] border-spacing-2 shadow-lg table-fixed"
    >
      <thead class="h-[5px] border rounded-xl">
        <tr class="text-left indent-5">
          <th class="border bg-slate-200 text-left w-[15rem]">Id</th>
          <th class="border bg-slate-200">Nombre</th>
          <th class="border bg-slate-200">Fecha</th>
          <th class="border bg-slate-200">Descripcion</th>
          <th class="border bg-slate-200">Horas</th>
          <th class="border bg-slate-200">Estado</th>
        </tr>
      </thead>
      <tbody class="indent-5 border-spacing-2">
        <tr class="message" *ngIf="data.length === 0">
          <td class="text-[1.5rem] text-center" colspan="6">
            <b>No hay citas agendadas</b>
          </td>
        </tr>
        <tr *ngFor="let item of data | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
          <td class="w-[5%] h-[3rem] border border-collapse">{{ item.id }}</td>
          <td class="w-[15%] border">{{ item.date }}</td>
          <td class="w-[15%] border">{{ item.appointmentStartDate }}</td>
          <td class="w-[20%] border">{{ item.description }}</td>
          <td class="w-[15%] border">{{ item.type }}</td>
          <td class="w-[15%] border">
            <article class="flex w-full items-center justify-around">
              <div class="w-[80%]">{{ item.state }}</div>
              <div
                [ngClass]="{
                  aprobada: item.state === 'Aprobada',
                  pendiente: item.state === 'Pendiente',
                  rechazada: item.state === 'Rechazada'
                }"
              ></div>
            </article>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <pagination-controls
              [previousLabel]="'Anterior'"
              [nextLabel]="'Siguiente'"
              (pageChange)="pageChanged($event)">
            </pagination-controls>
          </td>
        </tr>
        </tfoot>
    </table>
  </article>
</main>
