<main class="py-[3rem] flex justify-center fondo  h-screen">
    <article class="w-[90%]  flex justify-center">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Columnas -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
              <td mat-cell *matCellDef="let element"> {{ element[column.field] }} </td>
            </ng-container>

            <!-- Configuración del paginador -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]=pageSizeOptions
            [length]="totalRecords"
            [pageSize]="recordsPerPage"
            [pageIndex]="page"
            (page)="handlePageEvent($event)"
            ></mat-paginator>
          </div>
       </article>
    </main>
