<article class="w-full flex flex-col h-full  items-center bg-[#d8eefe]">
<section class="w-full h-[60%]">
    <ul class="flex flex-col">
        <li class="h-[5rem] flex justify-center">
            <button class="bt-w  w-[80%] text-[1.1rem]" mat-button>
                <mat-icon class="icon-w " fontIcon="event"></mat-icon>
                Apartar cita</button></li>
        <li class="h-[4rem] flex justify-center">
            <button class=" bt-w w-[80%] h-full" mat-button>
                <mat-icon class="" fontIcon="search"></mat-icon>
                Consultar citas</button></li>
    </ul>
</section>
</article>